@model CP_Cards.Models.TSView
@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<BR>
<div class="customhero-unit">
              <h3>Cards N Such User Login Page</h3>

          </div>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
	<title>Cards N Such BackOffice</title>
</head>

<body>
<table cellspacing="0" cellpadding="0" border="0">
<tr>
    
</tr>
<tr>
    
   <!---  Start --->
     <td width="500" valign="top" align="left">
	
    <br />
     @{if(ViewBag.PasswordError == true)
       {
    <p style="color:red; font-weight:bold">Password is incorrect. Please use correct Password or contact the Administrator for password reset</p>
     }
     }
<hr>
<p>
 
</p>
@using(Html.BeginForm())
{
  <table width="25%"  border="0" cellpadding="0">
    <tr>
      <td>Territory:</td>
      <td><select name="Territory" id="select2">
     @{
        foreach (var mm in Model.Retailers)
           {
            <option value="@mm.Territory">@mm.Territory</option>
           }
      }
      
      </select>       </td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input name="Password" type="password" id="Password2" size="10"></td>
    </tr>
  </table>
  <p>
    <input name="LogIn" type="submit" id="LogIn" value="Log In" >
    <br>
   
</p>
}
	</td>
  </tr>
</table>
	<!--- Finish  --->
	</td>
	</tr>
</table>
</td>
</tr>
</table>



</body>
</html>
