@{
    ViewBag.Title = "MainPageNew";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
 @section Menu{
            @Html.Partial("sidemenu");
        }

        

     <div class="customhero-unit">
              <h3>Cards N Such Territory @ViewBag.Terr</h3>

          </div>

