@{
    ViewBag.Title = "TSMessage";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<@section Menu{
            @Html.Partial("sidemenu");
        }

        <div class="hero-unit">
               <img src="@Href("~/images/cardsplus-logo.jpg")" alt="" width="300" height="135" border="0">
          </div>

     <div class="customhero-unit">
              <h3>The time sheet has been inserted successfully!!</h3>

          </div>
