 <div class="span3">
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Logout</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="@Url.Action("OrderEntryStep1", "Order", new {Territory = ViewBag.Terr, Val = "All"  })">Types of Cards</a></li>
            </ul>
    </div><!--/.well -->
    </div>

