 <div class="span3">
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="@Url.Action("Login","Admin")">Logout</a></li>
              <li><a href="#">About Us</a></li>
              
            </ul>
    </div><!--/.well -->
    </div>

